aniso8601==1.2.0
beautifulsoup4==4.4.1
botocore==1.4.19
cffi==1.9.1
click==6.6
cryptography==1.7.2
docutils==0.12
enum34==1.1.6
Flask==0.11.1
Flask-Ask==0.8.8
futures==3.0.5
gunicorn==19.7.0
idna==2.4
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
MarkupSafe==0.23
pyasn1==0.2.3
pycparser==2.17
pyOpenSSL==16.2.0
python-dateutil==2.5.3
PyYAML==3.12
requests==2.13.0
robobrowser==0.5.3
six==1.10.0
Werkzeug==0.11.10
